// GENERAL PROJECT STYLES

body.nav-active
	overflow: hidden

.container
	max-width: 1230px
	padding-inline: $gutter
	margin-inline: auto

.user
	svg
		circle
			fill: #000
		path
			fill: #fff

.img-cover
	width: 100%

.text-accent
	color: $accent

.btn
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	max-width: 290px
	font-size: 16px
	font-weight: 500
	line-height: normal
	text-align: center
	border-radius: 34px
	padding: 16px
	background: $gradient-1
	box-shadow: $box-shadow-2
	color: $bg
	gap: 9px
	img
		background: $bg
		padding: 5px
		border-radius: 100%
		box-sizing: content-box
		

h2, h3
	text-transform: uppercase

h2
	font-size: 16px

.effect
	display: block
	background-repeat: no-repeat !important
	background-size: contain !important
	position: absolute
	opacity: 0.8
	&-light
		background: $gradient-1
		border-radius: 100%
		filter: blur(45px)
		z-index: -5
	&-smoke
		mix-blend-mode: soft-light
		opacity: 0.4
		z-index: -4
	&-lines
		mix-blend-mode: soft-light
		z-index: -1



video
	border-radius: 6px
	width: 100%
	min-height: 200px
	object-fit: cover

.item
	background: $bg-2
	border-radius: 16px
	position: relative
	&::before
		content: ''
		border-radius: 16px
		background: $gradient-2
		position: absolute
		top: -1px
		left: -1px
		bottom: -1px
		right: -1px
		z-index: -1
	&-gold
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		text-align: center
		color: 	#000
		background: $gradient-1
		border: 1px solid $bg-2
		&::before
			display: none

form
	padding: 20px 15px
	background-color: #fff
	input
		border-radius: 8px
		padding: 10px
		border: 1px solid #EAEAEA
		color: $bg
		text-align: center
		background-color: transparent
		&::placeholder
			color: #10101580
			text-align: center
	button
		outline: $accent
		width: 100%
