.question
	padding-block: 70px 40px
	position: relative
	&::before
		content: ''
		background: url(../images/dist/form-bg-2.jpg)
		box-shadow: inset 0 -20px 30px $bg
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		opacity: 0.1
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: -3
	&::after
		content: ''
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 45%), linear-gradient(270deg, #101015 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #101015 100%)
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: -3
	&-title
		text-align: center
		margin-bottom: 10px
	&-inner
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		gap: 30px
		text-align: center
	&-content
		max-width: 280px
		margin-inline: auto
		&-title
			font-size: 14px
			font-weight: 500
			text-transform: none
			margin-bottom: 5px
	&-contact
		display: flex
		flex-direction: column
		align-items: center
		gap: 30px
		order: 1
		&-item
			display: flex
			flex-direction: column
			align-items: center
			max-width: 200px
			gap: 10px
			font-size: 20px
			font-weight: 400
			span
				display: flex
				align-items: center
				justify-content: center
				width: 48px
				height: 48px
				background: radial-gradient(50% 50% at 50% 50%, #F2E191 30%, #E8C25F 100%)
				border-radius: 40px
	&-form
		position: relative
		&::before
			content: ''
			background: url(../images/dist/triangle-gold.svg) center no-repeat
			background-size: cover
			position: absolute
			left: -70px
			right: -25px
			top: -17px
			bottom: 0
			z-index: -1
		&::after
			content: ''
			width: 100%
			height: 100%
			background: $gradient-1
			border-radius: 100%
			filter: blur(45px)
			position: absolute
			top: 0
			left: 50%
			transform: translate(-50%)
			z-index: -2
		input, textarea
			text-align: left
			&::placeholder
				text-align: left
		textarea
			min-height: 75px

@media (min-width: 550px)
	.question-contact
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: flex-start
		gap: 50px
		margin-top: 30px

@media (min-width: 768px)
	.question
		padding-block: 100px
		&-title
			font-size: 20px
			margin-bottom: 65px
		&-inner
			all: unset
			display: grid
			grid-template-columns: 1fr 1fr
			column-gap: 30px
		&-content
			display: flex
			flex-direction: column
			justify-content: center
			max-width: 350px
			font-size: 16px
			margin-inline: unset
			margin-left: 10%
			&-title
				font-size: 18px
		&-contact
			margin-top: unset
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			gap: 25px
			margin-left: 10%
			&-item
				flex-direction: row
				max-width: 295px
				span
					min-width: 48px
		&-form
			max-width: 450px
			grid-row: span 2
			&::before
				background-size: contain
				right: -50px
				top: -50px
				bottom: -50px
				left: -50px

@media (min-width: 992px)
	.question
		&-title
			font-size: 36px
		&-content
			max-width: 500px
			font-size: 24px
			&-title
				font-size: 30px
		&-contact-item
			font-size: 24px
		&-form-title
			font-size: 26px
			input
				font-size: 16px
				padding: 18px 25px
				border-radius: 12px
				&::placeholder
					font-size: 16px
			textarea
				padding: 18px 25px
				min-height: 100px
				font-size: 16px
				border-radius: 12px
				&::placeholder
					font-size: 16px

